.category-img{
    width:max-content;
    max-height: 10rem;
}
.img-container{
    width: 100%;
    height: 100%;
}
.category-insight img{
    height: 10rem;
    width: fit-content;
}
.category-insight span{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
}
