.App {
  text-align: center;
  height: 100vh;
}
.flex{
  display: flex;
}
.flex-c{
  flex-direction: column;
}
.justify{
  justify-content: center;
}
.justify-sb{
  justify-content: space-between;
}
.justify-sa{
  justify-content: space-around;
}
.align-center{
  align-items: center;
}
.align-start{
  align-items: flex-start;
}
.align-center{
  align-items: center;
}
.h-100{
  height: 100%;
}
.m-1{
  margin: 1rem;
}
.m-2{
  margin: 2rem;
}
.p-2{
  padding: 2rem;
}
.p-1{
  padding: 1rem;
}
.br-010{
  border-radius: 10px;
}
.gap-2{
  gap: 2rem;
}
.gap-1{
  gap: 1rem;
}
.btn{
  border: none;
  background: none;
  padding: 4px 20px;
  border-radius: 10px;
}
.btn:hover{
  box-shadow: 0 0 4px rgb(142, 79, 176);
  transition: box-shadow .25s ease;
}
.primary{
  background-color: rgb(94, 79, 176);
  color:white;
}
.secondary{
  background-color: rgb(223, 112, 132);
  color:white;
}
.ptr{
  cursor: pointer;
}
.underline{
  text-decoration: underline;
}
.grid{
  display: grid;
}
.grid-3{
  grid-template-columns: repeat(3,1fr); 
}
.profile-avatar {
  border:2px solid rgb(223, 112, 132);
  border-radius: 50%;
  box-shadow: 0 0 3px rgb(142, 79, 176);
}
.sm{
  height: 2rem;
  width: 2rem;
}
.header{
  box-shadow: 0 0 8px rgb(142, 79, 176);
  position: sticky;
  top:0;
  width: 100%;
  backdrop-filter:blur(10px);
}
@media all and (max-width:1200px) {
    .grid-3{
      grid-template-columns: repeat(2,1fr);
    }
}
@media all and (max-width:750px) {
    .grid-3{
      grid-template-columns: repeat(1,1fr);
    }
}